@page "/adicionar-livro"
@inherits ComponentBase
@attribute [Authorize]
@inject ILivroService _service
@inject NotificationService NotificationService

<RadzenTemplateForm Data="@Livro" TItem="LivroRequest" Submit="Salvar" Style="width: 100%;">

    <div class="row">

        <div class="col-12 col-md-8 mb-4">
            <RadzenCard>
                <div class="card-title">Informações Básicas</div>

                <div class="row mt-3">

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Título" Component="Titulo" />
                        <RadzenTextBox Name="Titulo" @bind-Value="@Livro.Titulo" Placeholder="Digite o título do livro" Style="width:100%" />
                        <RadzenRequiredValidator Text="Campo obrigatório" Component="Titulo" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Autor" Component="Autor" />
                        <RadzenTextBox Name="Autor" @bind-Value="@Livro.Autor" Placeholder="Nome do autor" Style="width:100%" />
                        <RadzenRequiredValidator Text="Campo obrigatório" Component="Autor" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Editora" Component="Editora" />
                        <RadzenTextBox Name="Editora" @bind-Value="@Livro.Editora" Placeholder="Nome da editora" Style="width:100%" />
                    </div>
                    
                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Isbn" Component="Isbn" />
                        <RadzenTextBox Name="Isbn" @bind-Value="@Livro.Isbn" Placeholder="Isbn" Style="width:100%" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Ano de Publicação" Component="Ano" />
                        <RadzenDatePicker TValue="DateTime?"
                                          @bind-Value="AnoPublicacaoUi"
                                          DateFormat="dd/MM/yyyy"
                                          Style="width:100%" />



                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Número de Páginas" Component="Paginas" />
                        <RadzenNumeric Name="Paginas" @bind-Value="@Livro.NumeroPaginas" Style="width:100%" TValue="int?" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <RadzenLabel Text="Categoria" Component="Categoria" />
                        <RadzenDropDown Name="Categoria" Style="width:100%"
                                        @bind-Value="@Livro.Categoria"
                                        Data="@Categorias"
                                        TextProperty="Text"
                                        ValueProperty="Value"
                                        Placeholder="Selecione uma categoria" />
                    </div>

                </div>
            </RadzenCard>
        </div>

        <!--  CAPA DO LIVRO (UPLOAD)                  -->
        <div class="col-12 col-md-4 mb-4">
            <RadzenCard Style="width: 200px;">
                <div class="card-title">Capa do Livro</div>
                <div class="d-flex flex-column align-items-center text-center mt-3">
                    @if (!string.IsNullOrEmpty(capaPreview))
                    {
                        <img src="@capaPreview" style="width:160px; height:auto; border-radius:6px; margin-bottom:15px;" />
                    }
                    else
                    {
                        <div style="border:2px dashed #ccc; border-radius:10px; width:160px; height:200px; display:flex; align-items:center; justify-content:center;">
                            <RadzenIcon Icon="image" Style="font-size:40px; opacity:0.4" />
                        </div>
                    }

                    <InputFile OnChange="@CapturarArquivo" class="form-control" />
                </div>
            </RadzenCard>
        </div>

        <div class="col-12 mb-4">
            <RadzenCard>

                <div class="card-title">Status de Leitura</div>

                <div class="row mt-3">

                    <div class="col-12 col-md-4 mb-3">
                        <RadzenLabel Text="Status Atual" Component="Status" />
                        <RadzenDropDown Name="Status" Style="width:100%"
                                        @bind-Value="@Livro.StatusLeitura"
                                        Data="@StatusList" 
                                        TextProperty="Text"
                                        ValueProperty="Value"
                        />
                    </div>

                    <div class="col-12 mb-3">
                        <RadzenLabel Text="Notas Pessoais" Component="Notas" />
                        <RadzenTextArea Name="Notas" @bind-Value="Livro.NotasPessoais" 
                                        Placeholder="Suas impressões, citações favoritas, etc..." 
                                        Style="width:100%; min-height:120px;" />
                    </div>

                </div>

            </RadzenCard>
        </div>

        
        @* <div class="col-12 mb-4"> *@
        @*     <RadzenCard> *@
        @* *@
        @*         <div class="card-title">Tags</div> *@
        @* *@
        @*         <RadzenLabel Text="Adicione tags para organizar seus livros" /> *@
        @* *@
        @*         <div class="d-flex gap-2 mt-2"> *@
        @* *@
        @*             <RadzenTextBox Style="flex:1" @bind-Value="@NovaTag" Placeholder="Digite uma tag..." /> *@
        @*              *@
        @*             <RadzenButton Text="+" Click="@AdicionarTag" ButtonStyle="ButtonStyle.Primary" /> *@
        @*         </div> *@
        @* *@
        @*          <div class="mt-3">  *@
        @*         @foreach (var tag in Livro.Tags) *@
        @*         { *@
        @*             <span class="badge bg-secondary me-2"> *@
        @*                 @tag *@
        @*             </span> *@
        @*         } *@
        @*         </div>  *@
        @* *@
        @*     </RadzenCard> *@
        @* </div> *@


        <div class="col-12 text-end mt-4">
            <RadzenButton Text="Salvar Livro" Icon="check" Style="background: var(--primary)" ButtonType="ButtonType.Submit" />
        </div>

    </div>

</RadzenTemplateForm>


@code {
    private DateTime? AnoPublicacaoUi;
    private LivroRequest Livro = new();
    private IBrowserFile capaLivro;
    private string? capaPreview;
    
    
    private IEnumerable<object> StatusList => Enum.GetValues(typeof(EStatusLeitura)).Cast<EStatusLeitura>()
        .Select(s => new
        {
            Text = s.GetDisplayName(),
            Value = s
        });

    private IEnumerable<object> Categorias => Enum.GetValues(typeof(ECategoriaLivro)).Cast<ECategoriaLivro>()
        .Select(c => new
        {
            Text = c.GetDisplayName(),
            Value = c
        });


    void OnChange(string value, string name)
    {
        capaPreview = value; 
    }
    
    
    async Task CapturarArquivo(InputFileChangeEventArgs e)
    {
        capaLivro = e.File;

        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        capaPreview = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
    }
    
    
    private async Task Salvar(LivroRequest livro)
    {
        try
        {
            if (AnoPublicacaoUi.HasValue)
            {
                livro.AnoPublicacao = DateOnly.FromDateTime(AnoPublicacaoUi.Value);
            }

            await _service.AdicionarLivros(livro, capaLivro);
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Sucesso!",
                Detail = "Livro adicionado com sucesso",
                Duration = 4000 
            });

            Livro = new LivroRequest();
            AnoPublicacaoUi = null;
            capaLivro = null;
            capaPreview = null;

            StateHasChanged();

        }
        catch (Exception e)
        {
            Console.WriteLine($"Erro ao salvar: {e.Message}");
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Erro!",
                Detail = "Algo deu errado ao salvar os dados. Verifique os campos e tente novamente!!!",
                Duration = 4000 
            });
        }

         
    }


   
}
