@page "/area-administrador"
@inject IUsuarioService _usuarioService
@attribute [Authorize(Roles = "Administrador")]

@if (usuarios == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <RadzenStack Gap="1rem">
    
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
            <RadzenIcon Icon="people_alt" Style="font-size: 32px; color: #6a1b9a;" />
            <RadzenText TextStyle="TextStyle.H5" >
                Gestão de Usuários
            </RadzenText>
        </RadzenStack>
        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="@($"{@TotalUsuarios} Total")" />
    </RadzenStack>

    <RadzenTextBox Placeholder="Buscar por nome ou email..." Style="width: 100%;" />

    <RadzenDataGrid Data="@usuarios" AllowPaging="true" PageSize="5" AllowSorting="true" TItem="UsuarioResponse">
        
        <Columns>
            
            <RadzenDataGridColumn TItem="UsuarioResponse" Property="Nome" Title="Nome" />
            
            <RadzenDataGridColumn TItem="UsuarioResponse" Property="Email" Title="Email" />
            
            <RadzenDataGridColumn TItem="UsuarioResponse" Property="Status" Title="Status">
                <Template Context="usuario">
                    <RadzenBadge 
                        Text="@usuario.Status.ToString()"
                        BadgeStyle="@(usuario.Status.ToString() == "Ativo" ? BadgeStyle.Primary : BadgeStyle.Danger)"
                        Icon="@(usuario.Status.ToString() == "Ativo" ? "verified" : "block")"
                        Style="color: white; padding: 5px 10px;"
                    />
                </Template>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn TItem="UsuarioResponse" Property="UltimoLogin" Title="Último Login" FormatString="{0:dd/MM/yyyy}" />
            
            <RadzenDataGridColumn TItem="UsuarioResponse" Property="Livros" Title="Livros">
                <Template Context="usuario">
                    <RadzenText TextStyle="TextStyle.Subtitle1" Style="color: #6a1b9a; font-weight: bold;">
                        <p>add lista de livros</p>
                    </RadzenText>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="UsuarioResponse" Title="Ações" Sortable="false" Filterable="false" Width="120px">
                <Template Context="usuario">
        
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
            
                        @if (usuario.Status.ToString() == "Ativo")
                        {
                            <RadzenButton Icon="block" 
                                          ButtonStyle="ButtonStyle.Danger" 
                                          Variant="Variant.Flat" 
                                          Title="Bloquear Usuário"
                                          Click="@(() => BloquearUsuario(usuario))" />
                        }
                        else
                        {
                            <RadzenButton Icon="lock_open" 
                                          ButtonStyle="ButtonStyle.Success" 
                                          Variant="Variant.Flat" 
                                          Title="Desbloquear Usuário"
                                          Click="@(() => DesbloquearUsuario(usuario))" />
                        }
            
                        <RadzenButton Icon="edit" 
                                      ButtonStyle="ButtonStyle.Primary" 
                                      Variant="Variant.Flat" 
                                      Title="Editar Detalhes / Redefinir Senha"
                                      Click="@(() => AbrirEdicao(usuario))" />
                          
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>
            
        </Columns>
    </RadzenDataGrid>

</RadzenStack>

}


@code {


    private List<UsuarioResponse> usuarios = new();
    
    
    private int TotalUsuarios => usuarios?.Count ?? 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            usuarios = await _usuarioService.ListarUsuarios();
            
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine("Acesso não autorizado ou token expirado.");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw new Exception(e.Message);
        }
    }

    void AbrirEdicao(UsuarioResponse usuario)
    {
        Console.WriteLine("clicou abrir edd");
    }

    void DesbloquearUsuario(UsuarioResponse usuario)
    {
        Console.WriteLine("clicou desbloq user");
    }

    void BloquearUsuario(UsuarioResponse usuario)
    {
        Console.WriteLine("clicou bloq user");
    }

}