@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenLayout >
    <RadzenHeader Style="background:  var(--primary)">
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     Class="rz-py-2 rz-px-4">
            <RadzenSidebarToggle 
                Click="@(() => sidebarExpanded = !sidebarExpanded)"
                Class="sidebar-toggle" />

            <RadzenLabel Text="Biblioteca Dashboard"
                         Class="rz-text-uppercase rz-font-weight-bold rz-color-white" />
            <RadzenSpacer />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar FullHeight="true"
                   @bind-Expanded="@sidebarExpanded"
                   Style="background: var(--primary); display: flex;flex-direction: column;justify-content: space-between">

        <RadzenPanelMenu Style="background:  var(--primary)">
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="home" class="tentativa" Style="border-bottom: 1px solid purple"/>
            <RadzenPanelMenuItem Text="Minha Coleção" Icon="collections_bookmark" Path="minha-colecao" Style="border-bottom: 1px solid purple"/>
            <RadzenPanelMenuItem Text="Adicionar Livros" Icon="library_add" Path="adicionar-livro" Style="border-bottom: 1px solid purple"/>
            <RadzenPanelMenuItem Text="Área do Administrador" Icon="admin_panel_settings" Path="area-administrador" Style="border-bottom: 1px solid purple"/>
        </RadzenPanelMenu>


        <div class="rz-p-2 rz-border-top-default">
            <RadzenButton Text="Sair"
                          Icon="logout"
                          Click="@Logout"
                          Variant="Variant.Flat"
                          Class="rz-w-100 logout-btn" Style="background-color: var(--primary)" />
        </div>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">@Body</div>
    </RadzenBody>

    <RadzenFooter Class="rz-text-align-center rz-py-2">
        &copy; Biblioteca App @DateTime.Now.Year
    </RadzenFooter>
</RadzenLayout>
<RadzenDialog />
<RadzenNotification />

@code {
   

    bool sidebarExpanded = true;
    
    [Inject] 
    public AuthenticationStateProvider AuthStateProvider { get; set; } = default!; 
    
    [Inject] 
    public NavigationManager NavManager { get; set; } = default!; 

    private void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthStateProvider).NotifyUserLoggedOut();
        
        NavManager.NavigateTo("/", forceLoad: true); 
    }
}
