@inject DialogService DialogService
@inject ILivroService service
@attribute [Authorize(Roles = "Administrador")]
@inject NotificationService NotificationService


<RadzenStack Gap="1.5rem" Style="width: 100%; padding: 2em">

    <RadzenText TextStyle="TextStyle.H6">
        Editar Livro
    </RadzenText>

    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Título" />
            <RadzenTextBox @bind-Value="request.Titulo" Style="width: 100%;" />
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Autor" />
            <RadzenTextBox @bind-Value="request.Autor" Style="width: 100%;" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="ISBN" />
            <RadzenTextBox @bind-Value="request.Isbn" Style="width: 100%;" />
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Editora" />
            <RadzenTextBox @bind-Value="request.Editora" Style="width: 100%;" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Capa" />
            <RadzenCard Style="width: 200px;">
                <div class="card-title">Capa do Livro</div>
                <div class="d-flex flex-column align-items-center text-center mt-3">
                    @if (!string.IsNullOrEmpty(capaPreview))
                    {
                        <img src="@capaPreview" style="width:160px; height:auto; border-radius:6px; margin-bottom:15px;" />
                    }
                    else
                    {
                        <div style="border:2px dashed #ccc; border-radius:10px; width:160px; height:200px; display:flex; align-items:center; justify-content:center;">
                            <RadzenIcon Icon="image" Style="font-size:40px; opacity:0.4" />
                        </div>
                    }

                    <InputFile OnChange="@CapturarArquivo" class="form-control" />
                </div>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Notas Pessoais" />
            <RadzenTextBox @bind-Value="request.NotasPessoais" Style="width: 100%;" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Categoria" />
            <RadzenDropDown
                @bind-Value="request.Categoria"
                Data="@categoryOptions"
                TextProperty="Text"
                ValueProperty="Value"
                Style="width: 100%;" />
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenLabel Text="Status" />
            <RadzenDropDown
                @bind-Value="request.StatusLeitura"
                Data="@statusOptions"
                TextProperty="Text"
                ValueProperty="Value"
                Style="width: 100%;" />
        </RadzenColumn>
    </RadzenRow>

</RadzenStack>

<RadzenStack Orientation="Orientation.Horizontal"
             JustifyContent="JustifyContent.End"
             Gap="0.5rem"
             Style="padding: 1.5em">

    <RadzenButton Text="Cancelar"
                  ButtonStyle="ButtonStyle.Light"
                  Click="@Cancelar" />

    <RadzenButton Text="Salvar"
                  Icon="save"
                  Style="background: var(--btn)"
                  Click="@Salvar" />
</RadzenStack>

@code {
    [Parameter] public int LivroId { get; set; }
    private IBrowserFile capaLivro;
    private string? capaPreview;

    private LivroRequest request = new();

    private List<EnumOption<EStatusLeitura>> statusOptions =
        Enum.GetValues(typeof(EStatusLeitura))
            .Cast<EStatusLeitura>()
            .Select(s => new EnumOption<EStatusLeitura>
            {
                Text = s.ToString(),
                Value = s
            }).ToList();
    
    private List<EnumOption<ECategoriaLivro>> categoryOptions =
        Enum.GetValues(typeof(ECategoriaLivro))
            .Cast<ECategoriaLivro>()
            .Select(s => new EnumOption<ECategoriaLivro>
            {
                Text = s.ToString(),
                Value = s
            }).ToList();

    protected override async Task OnParametersSetAsync()
    {
        if (LivroId > 0)
        {
            var livro = await service.BuscarLivroPorId(LivroId);
            
            if (livro != null)
            {
                request = new LivroRequest
                {
                    Id = livro.Id, 
                    Titulo = livro.Titulo,
                    Autor = livro.Autor,
                    Isbn = livro.Isbn,
                    Editora = livro.Editora,
                    CapaUrl = livro.CapaUrl,
                    NotasPessoais = livro.NotasPessoais,
                    StatusLeitura = livro.StatusLeitura,
                    Categoria = livro.Categoria
                };
                capaPreview = livro.CapaUrl;
            }
        }
    }
    
    void OnChange(string value, string name)
    {
        capaPreview = value; 
    }
    
    private async Task CapturarArquivo(InputFileChangeEventArgs args)
    {
        capaLivro = args.File;

        var format = "image/png";
        var resizedImage = await args.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);

        capaPreview = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        request.CapaUrl = capaPreview;

    }
    
    private void Cancelar()
    {
        DialogService.Close(false);
    }

    private async Task Salvar()
    {
        try
        {
            await service.EditarLivro(request);

            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Livro editado com sucesso.",
                Duration = 3000
            });
            
            StateHasChanged();
            DialogService.Close(true);
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Erro ao salvar",
                Detail = ex.Message,
                Duration = 4000
            });
        }
    }
    
    public class EnumOption<T>
    {
        public string Text { get; set; }
        public T Value { get; set; }
    }
}